<section id="main_first" class="main_first">
    <div class="main_first__in center_block">
        <div class="main_first__top">
            <span>Выдача</span>
            <img v-if="sizes.window >= 1023" src="./img/avat1.png" alt="">
            <img v-if="sizes.window <= 1023" src="./img/avat2.png" alt="">
        </div>
        <div class="main_first__center">срочных займов</div>
        <div class="main_first__bottom">
            <span>под 0%</span>
            <button class="main_first__btn" data-modal-id="3">Получить деньги</button>
            <div class="main_first__text">Меняем представление о займах.
                BUDGETT - это понятные и удобные онлайн-займы нового поколения.
                Получать легко, гасить - комфортно</div>
        </div>
    </div>
</section>